#start {
    background-color: #15372c;
}
#start #intro-header {
    font-family: 'Crimson Text', serif;
    color: white;
    text-align: center;
}
#start #intro-title {
    color: white;
    text-align: center;
    font-size: 2rem;
}
#start #intro-location {
    color: white;
    text-align: center;
}
#start #intro-image {
    text-align: center;
    padding-top: 1.5rem;
}
#exp {
    background-color: #15372c;
}
#exp .uk-heading-small, #exp .uk-text-large {
    color: white;
}
#exp .header-text {
    font-weight: 700;
}
#exp .skills-text {
    font-size: 18px;
}
#tools {
    background-color: #15372c;
}
#tools .uk-heading-medium, #tools .toolListItem {
    color: white;
}
#tools .toolListItem {
    color: white;
    font-size: 1.5rem;
}
#contact {
    background-color: #15372c;
}
#contact .uk-heading-medium {
    color: white;
}
.crimsonFont {
    font-family: 'Crimson Text', serif;
}
.toolDescription {
    font-size: 1rem;
    color: #bdc3c7;
}
.tools-container {
    display: flex;
    margin-top: 2em;
}
.tools-image {
    margin-right: 3em;
    padding-bottom: 1em;
}
