#start
{
    background-color:#15372c; 

    #intro-header
    {
        font-family: 'Crimson Text', serif;   
        color:white; text-align:center; 
    }

    #intro-title
    {
        color:white; text-align:center; font-size: 2rem;
    }

    #intro-location
    {
        color:white; text-align:center;
    }
    
    #intro-image
    {
        text-align: center; padding-top:1.5rem;
    }
}

#exp
{
    background-color:#15372c;

    .uk-heading-small, .uk-text-large
    {
        color:white; 
    }

    .header-text
    {
        font-weight: 700; 
    }

    .skills-text
    {
        font-size: 18px; 
    }
}

#tools
{
    background-color:#15372c;

    .uk-heading-medium, .toolListItem
    {
        color:white; 
    }

    .toolListItem
    {
        color:white; 
        font-size: 1.5rem;  
    }
}

#contact
{
    background-color:#15372c;

    .uk-heading-medium
    {
        color:white; 
    }
}

.crimsonFont
{
    font-family: 'Crimson Text', serif;    
}

.toolDescription
{
    font-size: 1rem;
    color: #bdc3c7; 
}

.tools-container
{
    display:flex;
     margin-top:2em;
}

.tools-image
{
    margin-right:3em;
    padding-bottom: 1em;
}

